body {
    background-image: url(./images/kakeibo_background.png);
}

h1.app-name{
    text-indent: -9999px;
    background: url(./images/kakeibo_app_name.png) no-repeat center top;
    -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 3px 3px 6px);
    height: 100px;
    width: 300px;
    margin: 10px auto;
}

.content-area {
    width: 700px;
    height: 1000px;
    margin: auto;
}

.content-area
.login-input-area {
    position: relative;
    width: 100%;
    height: 900px;
}

.content-area
.login-input-area
#login-form {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    margin-top: 16px;
}

.content-area
.login-input-area
#login-form
.input-item {
    display: block;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin: 10px auto;

}

.content-area
.login-input-area
#login-form
.text-input {
    border: solid 1px darkgray;
    text-indent: 20px;
}

.content-area
.login-input-area
#login-form
button {
    border: none;
    color: #fff;
    background-color: #ff5555;
    outline: none;
}

.content-area
.login-input-area
#login-form
button:hover {
    opacity: 0.8;
}

.content-area
.login-input-area
#login-form
button:active {
    opacity: 0.5;
    position: relative;
    top: 1px;
    left: 1px;
}

.content-area
.login-input-area
#oauth2-login {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;

}

.content-area
.login-input-area
#oauth2-login ul {
    padding-left: 0;
}

.content-area
.login-input-area
#oauth2-login
p {
    color: #555;
    margin: 0;
}

.content-area
.login-input-area
#oauth2-login
li {
    list-style: none;

}

.content-area
.login-input-area
#oauth2-login
button {
    display: block;
    border: none;
    outline: none;
    width: 250px;
    height: 30px;
    margin: 10px auto;

}

.content-area
.login-input-area
#oauth2-login
button:hover {
    opacity: 0.8;
}

.content-area
.login-input-area
#oauth2-login
button:active {
    opacity: 0.5;
    position: relative;
    top: 1px;
    left: 1px;
}

.content-area
.login-input-area
#oauth2-login
#facebook-button {
    background-color: #3B5998;
    color: white;
    font-size: 15px;
}

.content-area
.login-input-area
.oauth2-logo {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
}

.content-area
.login-input-area
#oauth2-login
#google-button {
    background-color: white;
    color: darkgray;
}

.content-area
.login-input-area
#oauth2-login
#twitter-button {
    background-color: deepskyblue;
    color: white;
}

.content-area
.login-input-area
#oauth2-login
#line-button {
    background-color: lawngreen;
    color: white;
}

@media screen and (max-width : 700px) {

    .content-area {
        width: 400px;
    }

    .content-area
    #login-form {
        position: relative;
        float: clear;
        width: 100%;
        height: 200px;
    }

    .content-area
    #oauth2-login {
        position: relative;
        float: clear;
        width: 100%;
        height: 250px;
        text-align: center;
    }


}
