body {
    background-image: url(./images/kakeibo_background.png);
}

.app_ui_button {
  height: 40px;
  line-height: 40px;
  background-color: #ff5555;
  color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  border: none;
}

.app_ui_button:hover {
  opacity: 0.8;
}

.app_ui_button:active {
  opacity: 0.5;
}

.text_input {
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: darkgray;
  font-size: 15px;
  border-radius: 10px;
  text-indent: 20px;
  border: darkgray 1px solid;
}

h1.app_name_large{
    position: relative;
    left: 0;
    right: 0;
    text-indent: -9999px;
    background: url(./images/kakeibo_app_name.png) no-repeat center top;
    -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 3px 3px 6px);
    height: 100px;
    width: 300px;
    margin: 10px auto;
}

h1.app_name_small{
    text-indent: -9999px;
    background: url(./images/kakeibo_app_name.png) no-repeat center top;
    -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 3px 3px 6px);
    background-size: contain;
    height: 70px;
    width: 210px;
    margin: 10px 30px auto auto;
}

.content_area {
    width: 700px;
    height: 1000px;
    margin: auto;
}

.content_area
h2 {
  text-indent: 20px;
  color: #00755e;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: #00755e 3px solid;
}

.content_area
.login_input_area {
    position: relative;
    width: 100%;
    height: 900px;
}

.content_area
.login_input_area
#login_form {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    margin-top: 16px;
}

.content_area
.login_input_area
#login_form
.input_item {
    display: block;
    position: relative;
    width: 250px;
    margin: 0 auto 18px auto;
}

/* .content_area
.login_input_area
#login_form
button {
    border: none;
    color: #fff;
    background-color: #ff5555;
    outline: none;
} */

/* .content_area
.login_input_area
#login_form
button:hover {
    opacity: 0.8;
} */

/* .content_area
.login_input_area
#login_form
button:active {
    opacity: 0.5;
    position: relative;
    top: 1px;
    left: 1px;
} */

.content_area
.login_input_area
#login_form
.input_warning {
  font-size: 12px;
  color: red;
  margin-top: 2px;
  margin-bottom: 2px;
  border-left: solid 5px red;
  margin-left: 10px;
  padding-left: 10px;
}

.content_area
.login_input_area
#oauth2_login {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
}

.content_area
.login_input_area
#oauth2_login ul {
    padding-left: 0;
}

.content_area
.login_input_area
#oauth2_login
p {
    color: #555;
    margin: 0;
}

.content_area
.login_input_area
#oauth2_login
li {
    list-style: none;

}

.content_area
.login_input_area
#oauth2_login
button {
    display: block;
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
    margin: 15px auto;
    padding-left: 10px;
}

.content_area
.login_input_area
#oauth2_login
button:hover {
    opacity: 0.8;
}

.content_area
.login_input_area
#oauth2_login
button:active {
    opacity: 0.5;
}

.content_area
.login_input_area
#oauth2_login
#facebook_button {
    background-color: #3B5998;
    color: white;
    font-size: 15px;
}

.content_area
.login_input_area
.oauth2_logo {
    display: block;
    width: 30px;
    height: 30px;
    margin: auto;
}

.content_area
.login_input_area
#oauth2_login
#google_button {
    background-color: white;
    color: darkgray;
}

.content_area
.login_input_area
#oauth2_login
#twitter_button {
    background-color: deepskyblue;
    color: white;
}

.content_area
.login_input_area
#oauth2_login
#line_button {
    background-color: lawngreen;
    color: white;
}

@media screen and (max-width : 700px) {

    .content_area {
        width: 400px;
    }

    .content_area
    .login_input_area
    #login_form {
        position: relative;
        width: 100%;
        height: 250px;
        clear: both;
    }

    .content_area
    .login_input_area
    #oauth2_login {
        position: relative;
        width: 100%;
        height: 250px;
        text-align: center;
        clear: both;
    }
}

.create_account_confirm_page
#confirm_form
.message {
    color: #00755e;
    font-size: 20px;
}

.create_account_confirm_page
#confirm_form
.new_account_name {
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    max-width: 80%;
    background-color: whitesmoke;
    color: #00755e;
    margin: 10px auto;
    text-align: center;
    box-shadow: 3px 3px 6px gray inset;
}

.create_account_confirm_page
#confirm_form
.button {
    width: 45%;
    margin: 5px;
}

.create_account_confirm_page
#confirm_form
.cancel_button {
    float: left;
}

.create_account_confirm_page
#confirm_form
.ok_button {
    float: right;
}